<div style="margin-top: 120px;">
    <div class="container-fluid">
        <p style="text-align: center;">
            <img src="assets/logo.jpeg" alt="" width="200px" height="170px">
        </p>
        <div class="container mt-5">
            <div class="row justify-content-center ">
                <div class="col-lg-6">
                    <h3>WE HAVE 3 YEARS OF EXPERIENCE IN THIS FIELD.</h3>
                    <p style="color: #ff9800; font-size: 40px; margin-top: -50px;">_______</p>
                    <p style="color: rgb(101, 99, 99);">With three years of dedicated experience, HPSV Studio has established
                        itself as a proficient player in the field of architecture and design. Our expertise extends to
                        planning layouts and constructing buildings for prestigious entities like the Pune Corporation,
                        PMRDA, and related offices. Across diverse projects, including public buildings, schools,
                        commercial complexes, residential spaces, bungalows, industrial sheds, corporate offices, and
                        banks, we showcase our versatility in Architecture, Interior Design, and Liasoning. Our
                        commitment to delivering innovative and tailored solutions remains unwavering, ensuring the
                        success of each project we undertake.</p>
                </div>
                <div class="col-lg-6">
                    <img src="assets/RENDER1.jpg" alt="" class="img-fluid"
                        style="box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);">
                </div>
            </div>
        </div>

    </div>
</div>
<!--Section 1-->
<div class="container-fluid bg-dark py-5 my-5">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-lg-3  bg">
                <h2>Architecture</h2>
                <p>When the design concepts have been decided, the architect prepares working drawings and specifications.</p>
                <a routerLink="/architecture" class="btn btn-primary custom-css">Read More</a>
            </div>
            <div class="col-lg-3  bg">
                <h2>Interior</h2>
                <p>You may engage your architect to provide an interior service, advising on loose furniture.</p>
                <a routerLink="/architecture" class="btn btn-primary custom-css">Read More</a>
            </div>
            <div class="col-lg-3  bg">
                <h2>Liasoning</h2>
                <p>As one of the successful architecture firms, we also play a pivotal role when it comes to Liasoning services.</p>
                <a routerLink="/architecture" class="btn btn-primary custom-css">Read More</a>
            </div>
        </div>
    </div>
</div>


<!-- Section 2 -->

<div class="container-fluid">
    <div class="container">
        <div style="text-align: center;">
            <h1>Team Members</h1>
            <p style="color: #ff9800; font-size: 40px; margin-top: -50px;">_______</p>
        </div>
        
        <div class="row justify-content-around">
            <div class="col-lg-2">
                <div class="card" style="width: 18rem;">
                    <img src="assets/hitesh.jpg" class="card-img-top" alt="..." style="height: 350px;">
                    <div class="card-body">
                        <h5 class="card-text ">Ar. Hitesh Mali</h5>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2">
                <div class="card" style="width: 18rem;">
                    <img src="assets/varad.jpg" class="card-img-top" alt="..." style="height: 350px;">
                    <div class="card-body">
                        <h5 class="card-text ">Ar. Varad Kolapkar</h5>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2">
                <div class="card" style="width: 18rem;">
                    <img src="assets/shubham.jpg" class="card-img-top" alt="..." style="height: 350px;">
                    <div class="card-body">
                        <h5 class="card-text ">Ar. Shubham Dighe</h5>
                    </div>
                  </div>
            </div>
            <div class="col-lg-2">
                <div class="card" style="width: 18rem;">
                    <img src="assets/parsad.JPG" class="card-img-top" alt="..." style="height: 350px;">
                    <div class="card-body">
                      <h5 class="card-text ">Ar. Prasad Khandve</h5>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<!-- description -->

<div class="container-fluid description mt-5">
    <div class="container description1">
        <div class="row ">
            <div class="col-lg-6">
                <img src="assets/logo.jpeg" alt="" width="150px" height="90px">
                <p class="pt-3">HPSV Studio has experience in planning the layout/building for Pune Corporation, PMRDA, and
                    other related
                    offices. We have designed various public buildings, schools, commercial complexes, residential
                    buildings, bungalows, industrial sheds, corporate offices as well as banks</p>

            </div>
            <div class="col gettouch">
                <h5>GET IN TOUCH</h5>
                <p>+91 9325326983</p>
                <p>hpsvstudio@gmail.com</p>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="mt-2">
    <div class="container" style="background: #000;">
        <div>
            <p class="text-white mt-2">© 2024 HPSV Studio. All rights reserved <span class="text-warning">Powered by Ajay
                    Mali.</span> </p>
        </div>
        <div>
            <div class="links-media2 mb-2">
                <a href="https://www.instagram.com/hpsv_studio?igsh=anRxeGo5bHp4Ym1v" target="_blank"><i
                        class="fa fa-instagram text-dark me-2"></i></a>
                <a href="https://www.facebook.com/hpsvstudio?sfnsn=wiwspwa&mibextid=RUbZ1f" target="_blank"><i
                        class="fa fa-facebook text-dark me-2"></i></a>
                <i class="fa fa-twitter text-dark me-2"></i>
                <i class="fa fa-linkedin text-dark"></i>
            </div>
        </div>
    </div>
</footer>